<%- include ../partials/head %>

<link rel="stylesheet" type="text/css" href="/styles/auth.css">

<%- include ../partials/header %>

<form action="/user/signup" method="POST">
    <input type="email" name="email" id="email" placeholder="E-mail" required>
    <input type="password" name="password" id="password" placeholder="Password" required>
    <input type="text" name="f_name" id="f_name" placeholder="First Name" required>
    <input type="text" name="l_name" id="l_name" placeholder="Last Name" required>

    <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">

    <% errMsgs.forEach((msg) => { %>
    <p class="err-msg"><%= msg %></p>
    <% }); %>

    <button type="submit" class="custom-link2">Create Account</button>
</form>

<%- include ../partials/footer %>

<%- include ../partials/end %>