<%- include ../partials/head %>

<link rel="stylesheet" type="text/css" href="/styles/auth.css">

<header>
    <section id="logo-wrapper">
        <a href="/">
            <img src="/images/common/logos/black-logo.svg" alt="Anarchy Futurism logo">
        </a>
    </section>
    <section id="page-heading">
        <h1><%= pageHeading %></h1>
    </section>
    <section id="user-nav-wrapper">
        <nav>
            <div>
                <% if(userIsLoggedIn){ %>
                <span><i class="far fa-user"></i></span>
                <section class="dropdown">
                    <a href="/user/orders">Your Orders <i class="fas fa-tags"></i></a>
                    <a href="/user/logout">Logout <i class="fas fa-sign-out-alt"></i></a>
                </section>
                <% } else{ %>
                <a href="/user/signin"><i class="far fa-user"></i></a>
                <% } %>
            </div>
            <a href="/wishlist"><i class="far fa-heart"></i></a>
            <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
        </nav>
    </section>
</header>

<form action="/user/signin" method="POST">
    <input type="email" name="email" id="email" placeholder="E-mail" required>
    <input type="password" name="password" id="password" placeholder="Password" required>
    
    <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">

    <% errMsgs.forEach((msg) => { %>
    <p class="err-msg"><%= msg %></p>
    <% }); %>

    <button type="submit" class="custom-link2">Login</button>

    <p>Aren't a Anarchy Futurist yet? <a href="/user/signup">Create a new account!</a></p>
</form>

<%- include ../partials/footer %>

<%- include ../partials/end %>