<%- include ../partials/head %>

<link rel="stylesheet" type="text/css" href="/styles/product.css">

<%- include ../partials/header %>

<div class="product">
    <div class="image-wrapper">
        <img src="<%= product.imagePath %>" alt="<%=`${product.brandName} ${product.itemName}`%>">
    </div>
    <div class="info">
        <div class="main">
            <div class="meta">
                <p class="brand-name"><%= product.brandName %></p>
                <p class="product-name"><%= product.itemName %></p>
                <p class="product-category">For <%= product.gender %></p>
            </div>
            <div class="price">
                <span>Rs. <%= product.price %></span>
            </div>
        </div>
        <div class="size-options">
            <p>Choose your size</p>
            <div class="sizes">

                <% for(sizingSystem in product.sizes){ %>
                    <% product.sizes[sizingSystem].forEach((size) => { %>
                    <section class="size-card">
                        <p class="size"><%= size %></p>
                        <p class="sizing-system"><%= sizingSystem %></p>
                    </section>
                    <% }); %>
                <% } %>

            </div>
        </div>

        <div class="actions">
            <a href="/add-to-cart/<%= product._id %>" class="custom-link2">
                <i class="fas fa-shopping-cart"></i> Add to Cart
            </a>
            <a href="/add-to-wishlist/<%= product._id %>">
                <i class="far fa-heart"></i> Add to Wishlist
            </a>
        </div>
    </div>
</div>

<%- include ../partials/footer %>

<%- include ../partials/end %>