<%- include ../partials/head %>

<link rel="stylesheet" type="text/css" href="/styles/cart.css">

<%- include ../partials/header %>

<div class="products">
<% if(!products){ %>
<div class="no-items">
    <h2>No Items in Cart</h2>
    <a href="/products/all" class="custom-link">SHOP WITH US</a>
</div>
<% } else { %>
    <% products.forEach((product) => { %>
    <div class="product">
        <div class="image-wrapper">
            <img src="<%= product.item.imagePath %>" alt="<%=`${product.item.brandName} ${product.item.itemName}`%>">
        </div>
        <div class="info">
            <section class="meta">
                <p class="brand-name"><%= product.item.brandName %></p>
                <p class="product-name"><%= product.item.itemName %></p>
            </section>
            <div class="quantity-wrapper">
                <a class="reduce" href="/reduce-by-one/<%= product.item._id %>"><i class="fas fa-minus"></i></a>
                <span class="quantity"><%= product.qty %></span>
                <a class="increase" href="/increase-by-one/<%= product.item._id %>"><i class="fas fa-plus"></i></a>
            </div>
            <div class="details">
                <span class="gender">For <%= product.item.gender %>,</span>
                <span class="size">Size: Feature Not Supported,</span>
                <span class="price">Price: Rs.<%= product.item.price %></span>
            </div>
        </div>
        <div class="amount-wrapper">
            <p class="amount">Rs. <%= product.price %></p>
        </div>
        <div class="remove-item">
            <a href="/remove-from-cart/<%= product.item._id %>" class="remove"><i class="fas fa-trash"></i></a>
        </div>
    </div>
    <% }); %>
</div>

<div class="order-summary">
    <p>TOTAL AMOUNT: Rs.<%= cartSession.totalPrice %></p>
    <a href="/checkout" class="custom-link2">Checkout</a>
</div>
<% } %>

<%- include ../partials/footer %>

<%- include ../partials/end %>