<%- include ../partials/head %>

<link rel="stylesheet" type="text/css" href="/styles/checkout.css">

<%- include ../partials/header %>

<div class="wrapper">
    <h2>SHIPPING DETAILS</h2>

    <form id="checkout-form" action="/checkout?id=<%= order._id %>" method="post">
        <div class="two">
            <input type="text" name="f_name" id="f_name" placeholder="First Name" required>
            <input type="text" name="l_name" id="l_name" placeholder="Last Name" required>
        </div>
        <div class="one">
            <input type="text" name="address" id="address" placeholder="Address" required>
        </div>
        <div class="three">
            <input type="text" name="city" id="city" placeholder="City" required>
            <input type="text" name="postal_code" id="postal_code" placeholder="Postal Code" required>
            <input type="text" name="country" id="country" placeholder="Country" required>
        </div>
        <div class="two">
            <input type="email" name="email" id="email" placeholder="E-mail" required>
            <input type="number" name="mobile" id="mobile" placeholder="Phone" required>
        </div>

        <input type="hidden" name="order_id" id="order_id" value="<%= order.order_id %>" required>
        <input type="hidden" name="amount" id="amount" value="<%= order.amount %>" required>
        
        <button id="rzp-button1" class="custom-link2" type="submit">Pay Rs.<%=cartSession.totalPrice%></button>
    </form>
    
</div>

<%- include ../partials/footer %>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="/scripts/checkout.js"></script>

<%- include ../partials/end %>